
body{
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
.homepage{
    font-family:roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-decoration: none;
color:  #333333;
}
#homemap {
    color: black;
  }

  #infohome {
    padding-left: 6rem;
    margin-left: 0;
    margin-top: 8rem;
  }
  #info{
      text-decoration: none;
      color: black;
  }

  ul {
    /* padding-top: 10%; */
    padding-left: 13%;
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
      font-weight: 700;
      font-size: 55px;
      line-height: 66px;
      color: #1F313D;
  }
  h3{
      font-style: italic;
      font-weight: 900;
      font-size: 26px;
      line-height: 31px;
      color: #1F313D;
  }
  h4{
      font-style: italic;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: #1F313D;
  }
  .item-pic{
      margin-top: 0.5rem;
  }
  .text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  
  .item-info {
    margin-top: 2rem;
  }
  .item-info h3 {
    margin-top: 1rem;
  }
  .item-info p {
    max-width: 618px;
    margin-top: 1.2rem;
  }
  .bin-info img {
    margin-top: 1rem;
  }
  .info-container{
      max-width: 800px;
      display: flex;
      margin-top: 0.7rem;
      margin-bottom: 1rem;
  }

  .info-box .top{
      background-color: #3FA2F7;
      height: 47px;
      color: white;
      border-radius: 5px 5px 0 0;
  }
  .top p{
      padding-left: 0.5rem;
      padding-top: 0.5rem;
  }

  .info-box .bottom{
    border: 1.75px solid #777777;
    text-align: center;
  }
  .btn a{
      text-decoration: none;
      color: white;
  }
  .btn .btn1{
      display: block;
  }
  .btn1{
    width: 220px;
    height: 39px;
    background-color: #525252;
    color: white;
    border-radius: 5px;
    margin-bottom:0.5rem;
    margin-top: 0.78rem;
  }
  .btn2{
    width: 220px;
    height: 39px;
    background-color: #525252;
    border-radius: 5px;
    color: white;
  }
  @media (max-width:700px) {
      .info-container{
          display: block;
      }
  }
  


  
  

